li{
  list-style-type: none;
}
@font-face{
  font-family:PT Sans;
  src:url(fonts/PT_Sans-Web-Bold.ttf;fonts/PT_Sans-Web-Regular.ttf);
}
body{
  font-family:'PT Sans',Arial,Tahoma,sans-serif;
}
.rhombus:before{
  content:"";
  display:block;
  background-color:red;
  width:30px ;
  height: 30px;
  transform:rotate(45deg);
}
